


.input {
    width:2.5rem ;
    height: 2.5rem;
    border-radius: 50%;
    //font-size: 26px;
    transition: .5s;
    text-align: center;
}

.input:hover{
    width: 7rem;
    background: #3b3640;
    border-radius: 3rem;
    color: aliceblue;
}

