@use "../../styles/_typography.scss" as *;
@use "../../styles/_variables.scss" as *;

.home{
    height: 100vh;
    background: rgb(140,6,6);
    background: linear-gradient(180deg, rgba(140,6,6,1) 19%, rgba(60,56,56,1) 67%, rgba(93,90,90,1) 100%);
    // background-image: url("../../assets/images/DS_wallpaper.jpg");
    // background-position: center;
    // background-size: 100%;
    
}