@use "../../styles/_typography.scss" as *;
@use "../../styles/_variables.scss" as *;

.location {
    height: 5rem;
    display: grid;
    // padding: 4rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "c1"  
    ;
    // background: rgb(255,215,0);
    // background: linear-gradient(180deg, rgba(255,215,0,1) 27%, rgba(212,175,55,1) 77%);

    &__banner{
        grid-area: c1;
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        &-marker{
            height: 4rem;
        }
    }

}

