@use "../../styles/_typography.scss" as *;
@use "../../styles/_variables.scss" as *;

.location {
    height: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "c1"  
    ;
   

    &__banner{
        grid-area: c1;
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        &-marker{
            height: 4rem;
        }

        &-title{
            font-size: 1.7rem;
            color: $gold-secondary;
        }
    }

}

