@use "../../styles/_typography.scss" as *;
@use "../../styles/_variables.scss" as *;



.npc{
    min-height: 90vh;
    width: 100vw;
    background: linear-gradient(180deg, $red-crimson 20%, $grey-dark 70%, $black-light 90%);

    &__page{
        display: flex;
        justify-content: space-evenly;
    }

    &__info{
        background-color:rgba($silver-dark, 0.5);
        height: fit-content;
        width: 33%;
        
    }

    &__name{
        font-size: 1.5rem;
    }

   &__covenant{
    font-size: 1rem;
   }

    &__image{
        width: 15rem;
        height: auto;
    } 
    
    &__location{
        font-size: 1.5rem;
    }

    &__quest-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__marker{
        height: 3rem;
    }

    &__questline{
        font-family: $font-alternate;
        color: $gold-primary;
        font-size: 1rem;
    }


    &__buttons-box{
        width: 0.5rem;
        width: 20.5rem;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
    }

    &__button{
        cursor: pointer;
        padding: 1rem;
        border-radius: 0.5rem;
        color: whitesmoke;
        font-size: x-large;
        background-color: #cd8760;
    }

}