@use "../../styles/_typography.scss" as *;
@use "../../styles/_variables.scss" as *;


.npc{
    min-height: 90vh;
    width: 100vw;
    background: linear-gradient(180deg, $red-crimson 20%, $grey-dark 70%, $black-light 90%);

    &__info{
        display: flex;
        justify-content: space-evenly;
    }

    &__image{
        width: 15rem;
        height: auto;
    }

    &__quest-box{
        display: flex;
        align-items: center;
    }

    &__marker{
        height: 3rem;
    }

    &__questline{
        font-family: $font-alternate;
    }


    &__buttons-box{
        width: 0.5rem;
        width: 20.5rem;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
    }

    &__button{
        cursor: pointer;
        padding: 1rem;
        border-radius: 0.5rem;
        color: whitesmoke;
        font-size: x-large;
        background-color: #cd8760;
    }

}