

.card {
    border: 2px solid purple;
    height: 21.5rem;
    width: 11rem;
    border-radius: 0.7rem;

    &__link{
        //text-decoration: none;
    }

    &__heading{
        font-size: small;
        //text-decoration: none;
    }

    &__image{
        margin: auto;
        width: 80%;
        height: auto;

        &--pic{
            width: 100%;
            height: auto;
            border-radius: 1.5rem;
        }
    }


    &__location{
        font-size: small;
    }

    &__quest{
        font-style: italic;
    }

    &__info{
        font-size: small;
    }

}