

.card {
    border: 2px solid purple;
    height: 22rem;
    width: 11rem;

    &__link{
        //text-decoration: none;
    }

    &__heading{
        font-size: small;
        //text-decoration: none;
    }

    &__image{
        margin: auto;
        border: 1px solid black;
        width: 80%;
        height: auto;

        &--pic{
            width: 100%;
            height: auto;
            border-radius: 1.5rem;
        }
    }


    &__location{
        font-size: small;
    }

    &__quest{
        font-style: italic;
    }

    &__info{
        font-size: small;
    }

}