@use "../../styles/_typography.scss" as *;
@use "../../styles/_variables.scss" as *;

.navigation-bar{
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background: rgb(136,8,8);
    background: linear-gradient(0deg, rgba(136,8,8,1) 10%, rgba(0,0,0,1) 20%);

    &__box{
        width:5rem;
        height: auto;

        &--img{
            width:80%;
            height: auto;
    }

    }


}

// .navigation-bar__box:hover{

//     ::before{
        
//         background-image: url("../../assets/images/Estus_Flask_half.webp");
//         background-position: center;
//         background-size: 100%;
        
//     }
// }

