@use "../../styles/_typography.scss" as *;
@use "../../styles/_variables.scss" as *;

.navigation-bar{
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    background: linear-gradient(0deg, $red-blood 10%, rgba(0,0,0,1) 20%);
    

    &__box{
        width:9rem;
        height: auto;

        &--img{
            width:50%;
            height: auto;
    }

    }

    &__title{
        color: $gold-primary;
    }

}

