@use "../../styles/_typography.scss" as *;
@use "../../styles/_variables.scss" as *;

.create{
    min-height: 90vh;
    width: 100vw;
    background: linear-gradient(180deg, $red-crimson 20%, $grey-dark 70%, $black-light 90%);
    
    &__title{
        font-size: 2rem;
        color: $gold-secondary;
    }
}