@use "../../styles/_typography.scss" as *;
@use "../../styles/_variables.scss" as *;

.single-local{
    min-height: 90vh;
    width: 100vw;
    background: linear-gradient(180deg, $red-crimson 20%, $grey-dark 70%, $black-light 90%);
    


    &__display{
        
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}

