.welcome {
    background: rgb(136,8,8);
    background: linear-gradient(0deg, rgba(136,8,8,1) 10%, rgba(0,0,0,1) 20%);
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    z-index: 1;

    &__image{
        max-width: 100%;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__icon{
        max-width: 10%;
        height: auto;
    }

    &__message{
        color: whitesmoke;
        font-style: italic;
        margin: 2rem;
    }

    &__button{
        cursor: pointer;
        padding: 1rem;
        border-radius: 0.5rem;
        color: whitesmoke;
        font-size: x-large;
        background-color: #cd8760;
    }

.welcome__button:hover{
    background-color: #bb0a1e;
}    

}